.firstTd{
  background: #FFF;
}

.report-tbl thead th:first-child{
  text-align: left;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0px;
  left:0px;

}

tbody td{
  min-width: 85px;
}
tbody td:first-child{
  left: 0;
  z-index: 1;
  position: sticky; 
  font-weight: 500; 
  position: -webkit-sticky; 
   background: #455A64;
    color: #ffffff;
    width: 100px;
}

thead th:first-child {
  left: 0;
  z-index: 2;
}