
.loginForm {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }
  
  .loginFullWidth {
    width: 100%;
  }

  .loginCard{
    min-height: 100vh;
    padding: 90px 20px 30px;
  }
.loginCard mat-card{
    width: 370px;      
    padding: 25px 30px 35px 30px;
    max-width: 100%;
}

  .loginCard mat-card-title{
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
  }

.loginCard mat-card-content{
  font-weight: 500;
}

.loginCard a{
    color: #2e52a7;;
}


.padTop15{
    padding-top: 15px;
}

.loginCard mat-card-subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.mat-card-footer{
  margin:0 0 -15px;
}

@media screen and (max-width: 767px) {
  .loginCard mat-card{
    padding: 22px 25px 25px;
  }
  .loginCard mat-card-title{
    font-size: 23px;
  }
  .loginCard{
    padding: 85px 20px 25px;
  }
}

