<div  *ngIf="!isShowAllUser">

  <div fxLayout="row" fxLayoutAlign="end center" class="btn-wrap">
    <button mat-button (click)='showAllUser(true)' class="mat-button mat-stroked-button mat-primary"><span class="material-icons">
      navigate_before
  </span> All Users</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-horizontal-stepper [linear]="isLinear"  #stepper>
      <mat-step [stepControl]="userDetailFg">
        <form [formGroup]="userDetailFg" class="user-mgmt-edit-form">
          <ng-template matStepLabel class="step-lbl">User Details</ng-template>
          <mat-form-field >
            <input matInput placeholder="Full Name" formControlName="fullName" required>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Phone No."  maxlength="10" formControlName="phoneNumber"  >
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Email" maxlength="100" formControlName="emailId">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Address" maxlength="200" formControlName="address">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Pan No." maxlength="13" formControlName="panNo">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Username" maxlength="20" formControlName="userName">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Password" maxlength="25" formControlName="password">
          </mat-form-field>
  
          <div  fxLayout="row" fxLayoutAlign="end center" class="btn-wrap">
            <button mat-button matStepperNext  class="mat-button mat-stroked-button mat-primary">Next <span class="material-icons">
              navigate_next
              </span></button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="permissionGrp">
        <form [formGroup]="permissionGrp"  class="user-mgmt-edit-form">
          <ng-template matStepLabel class="step-lbl">User Permission</ng-template>
  
          <div style='margin-bottom: 20px !important'>
            <mat-card-subtitle>Account Constraint</mat-card-subtitle>
          </div>
  
          <mat-form-field class="">
            <input matInput [matDatepicker]="picker" readonly name='fromDate' formControlName="validTill" placeholder="Valid Till">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field class="">
            <input matInput [matDatepicker]="validTill" formControlName="reportViewFrDate" readonly name='reportViewFrDate'
            placeholder="Report View FromDate">
            <mat-datepicker-toggle matSuffix [for]="validTill"></mat-datepicker-toggle>
            <mat-datepicker #validTill></mat-datepicker>
          </mat-form-field>
  
          <mat-divider></mat-divider>
          <div style='margin-bottom: 20px !important; margin-top: 20px !important'>
            <mat-card-subtitle>Report View Permission</mat-card-subtitle>
          </div>
          
            <mat-checkbox formControlName="tablePermission" class='marginRtTop'>Table Report</mat-checkbox>
            <mat-checkbox formControlName="dataSumaryReportPerm"  class='marginRtTop'>Data Summary Report</mat-checkbox>
            <mat-checkbox formControlName="resultOutPerm"  class='marginRtTop'>Action Item Trade Report</mat-checkbox>
            <mat-checkbox formControlName="recordSheetPerm"  class='marginRtTop'>Record Sheet Report</mat-checkbox>
            <mat-checkbox formControlName="tbBtReportPerm"  class='marginRtTop'>Tb-Bt SetUp Report</mat-checkbox>
            <mat-checkbox formControlName="otReportPerm"  class='marginRtTop'>OT Report</mat-checkbox>
            
            <mat-checkbox *ngIf='isSuperAdmin'  class='marginRtTop' formControlName="mstReportPerm">MST Report</mat-checkbox>
            <mat-checkbox *ngIf='isSuperAdmin'  class='marginRtTop' formControlName="ddReportPerm">DD Report</mat-checkbox>
            <mat-checkbox *ngIf='isSuperAdmin'  class='marginRtTop' formControlName="aocReportPerm">Avg Outcome report</mat-checkbox>
       
  
          <div style='margin: 26px 0px 0px 0px' fxLayout="row" fxLayoutAlign="space-between center" class="btn-wrap">
            <button mat-button matStepperPrevious class="mat-button mat-stroked-button mat-primary"> <span class="material-icons">
              navigate_before 
              </span> Back</button>
            <button mat-button matStepperNext (click)="saveUser()" [disabled]="!permissionGrp.valid" class="mat-button mat-stroked-button mat-primary">Next  <span class="material-icons">
              navigate_next
              </span></button>
          </div>
        </form>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel  class="step-lbl">Done</ng-template>
        <button mat-button (click)="stepper.reset()" class='linkStyle createNewLink'>Create new again</button>
        <div>  
        </div>
      </mat-step>
  
    </mat-horizontal-stepper>
  </div> 
  </div>
  
  
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isShowAllUser">
    <a class='linkStyle createNewLink' (click)="showAllUser(false)">Create new</a>
    <div class=" mat-elevation-z1 example-container tableHeight  fullWidth table-wrap">
      <table mat-table   [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id" style='width: 40px'>
          <th mat-header-cell *matHeaderCellDef class="user-id"> User Id </th>
          <td mat-cell *matCellDef="let element"  class="user-id"> {{element.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="fullName" >
          <th mat-header-cell *matHeaderCellDef  class="leftAlign"> Full Name </th>
          <td mat-cell *matCellDef="let element" style='text-align: left; font-weight:500'> {{element.fullName}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="phoneNo">
          <th mat-header-cell *matHeaderCellDef> Phone No. </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email Id </th>
          <td mat-cell *matCellDef="let element"  style='text-align: center'> {{element.emailId}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="validTill">
          <th mat-header-cell *matHeaderCellDef> Valid Till</th>
          <td mat-cell *matCellDef="let element"> {{element.validTill | date: "dd-MM-yyyy"}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let element">
            <a class='linkStyle' (click)='editUser(element.id)'> Edit </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  
  