

table { 
    width: 100%;
    text-align: center;
  }
  
  th.mat-header-cell{
    text-align: center;
    font-size: 14px;
    font-weight:500; 
    background: #e7ffef;
    color: black;
  }

  .marginRtTop{
    margin-right: 45px;
    margin-top: 15px;
  }
  
  mat-form-field-flex{
    width: 70%;
  }

  td.mat-cell{
    padding-left:3px;
    padding-right:3px;
  }

  .linkStyle{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  } 

  .createNewLink{
    width: 100%; 
    margin-bottom: 10px;
  }
  .user-mgmt-edit-form{
    margin:0 -10px;
  }
  .user-mgmt-edit-form .mat-form-field{
    padding:0 10px;
    width:25%;
  }
  .user-mgmt-edit-form .mat-form-field input.mat-input-element{
    font-size:15px;
  }
  .user-mgmt-edit-form .mat-form-field .mat-form-field-label-wrapper{
    font-size:15px;
  }
  .btn-wrap{
    padding: 0 0 20px;
  }
  .btn-wrap:last-child{
    padding: 0 0 0px;
  }
  .btn-wrap .mat-button{
    line-height: 30px;
    padding-top: 1px;
  }
  .btn-wrap .mat-button .material-icons{
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    top: -0.5px;
  }
  @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 86px;
    }
    th.mat-header-cell{
      font-size: 13px;
    }
  } @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 86px;
    }
    th.mat-header-cell{
      font-size: 13px;
    }
  }
   

  @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 78px;
    }
    td.mat-column-fullName{
      min-width: 150px;
    }
  }
  @media screen and (max-width:767px) {
    .mat-table .user-id{
      display: none;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
      top: 1.7em;
      font-size: 13px;
    }
    
    .user-mgmt-edit-form .mat-form-field{
      padding:0 5px;
    }
    
    
  .user-mgmt-edit-form .mat-form-field input.mat-input-element{
    font-size:13px;
  }
  
  .user-mgmt-edit-form .mat-step-header {
    display: block;
    padding:0 10px;
  }
  .btn-wrap .mat-button{
    line-height: 27px;
    padding-top: 1px;
    font-size: 13px;
    padding: 0 10px;
  }
  .marginRtTop{
    margin-right: 25px;
  }
  ::ng-deep .mat-horizontal-stepper-header-container{
    flex-wrap: wrap !important;
    white-space: nowrap !important;
    padding: 8px 0 15px !important;
  }
  ::ng-deep .mat-horizontal-stepper-header{
    padding: 10px 15px !important;
    width: 100% !important;
    height: auto !important;
    
  }
  ::ng-deep .mat-stepper-horizontal-line{
    border-top-width: 0 !important;
    
    height: 20px !important;
    margin: -5px 26px !important;
    min-width: 1px !important;
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: rgba(0,0,0,.12) !important;
  }
  }
   
  @media screen and (max-width:599px) {
    .user-mgmt-edit-form .mat-form-field{
      width:50%;
    }
    
  }

 
