.width210 {  
    width:210px !important
    
}


table { 
    width: 100%;
    text-align: center;
  }
  
  th.mat-header-cell{
    text-align: center;
    font-size: 14px;
    font-weight:500; 
    background: #e7ffef;
    color: black;
  }

  .marginRtTop{
    margin-right: 45px;
    margin-top: 15px;
  }
  
  mat-form-field-flex{
    width: 70%;
  }

  td.mat-cell{
    padding-left:3px;
    padding-right:3px;
  }

  .linkStyle{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  } 

  .createNewLink{
    width: 100%; 
    margin-bottom: 10px;
  }

  @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 86px;
    }
    th.mat-header-cell{
      font-size: 13px;
    }
  } @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 86px;
    }
    th.mat-header-cell{
      font-size: 13px;
    }
  }
   

  @media screen and (max-width: 991px) {
    td.mat-column-validTill{
      min-width: 78px;
    }
    td.mat-column-fullName{
      min-width: 150px;
    }
  }