<h1 mat-dialog-title>Change password</h1>

<form [formGroup]="formGroup">
    <mat-form-field style='width:100%'>
        <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()">
        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
      </mat-form-field>
    
      <mat-form-field style='width:100%'>
        <input matInput type="password" placeholder="Confirm password" formControlName="password2" (input)="onPasswordInput()">
        <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
        <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
      </mat-form-field>

      <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
          <button mat-button   (click)="onSubmit()"
          [disabled]="!formGroup.valid" type='submit' >Submit</button>
      </mat-dialog-actions>
</form>
